QListView::item{
                background:rgb(28, 36, 57);
                color:white;
            }
            QListView::item:hover {
                font-weight: bold;
                color: rgb(32, 223, 127);
            }
            
            QListView::item:selected {
                  font-weight: bold;
                color: rgb(32, 223, 127);
            }